# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Docker
*.pid